<h1 class="text-center mt-4"> <%= @user.username%>'s Profile </h1>

<%= gravatar_for @user, size: 200 %>
<% if logged_in? && current_user == @user%>
    <div class="text-center mt-4"><%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-outline-info"%></div> 
<% end %>

<% unless current_user.id == @user.id %>
    <% if current_user.following.exists?(@user.id)%>
        <div class="text-center mt-4"><%= link_to 'Unfollow', user_follow_path(@user), method: :delete, class: 'btn btn-outline-danger' %></div>
    <% else %>
        <div class="text-center mt-4"><%= link_to 'Follow', user_follows_path(@user), method: :create, class: 'btn btn-outline-success'  %></div>
    <% end %>
<% end %>

<table class="table table-sm">
    <thead>
        <tr>
            <th style="text-align: center;">Tweets</th>
            <th style="text-align: center;"><%= link_to 'Followers', follower_users_path(@user) %></th>
            <th style="text-align: center;"><%= link_to 'Following', followings_users_path(@user) %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: center;"><%= @user.articles.size %></td>
            <td style="text-align: center;"><%= @user.followers.size %></td>
            <td style="text-align: center;"><%= @user.following.size %></td>
        </tr>
    </tbody>
</table>

<h3 class="text-center mt-4"> Articles </h3>

<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/article'%>

<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>