<%= link_to @user.username, user_path(@user) %>
<h1>Following</h1>

<div class="row">
  <div class="col-12">
    <div class="col-6 mx-auto">
      <table class="table">
        <% @followings.each do |following| %>
        <tr>
          <td>
            <%= link_to following.username, user_path(following) %>
          </td>
          <td>
            <%= following.username %><br>
          </td>
          <td>
            <% unless current_user.id == following.id %>
              <% if current_user.following.exists?(following.id) %>
                <span class="badge badge-success">Following</span>
              <% else %>
                <%= link_to 'Follow', follow_path(following.id), method: :post, class: 'btn btn-warning'  %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>

        <div class="my-4 mx-auto col-6">
          <%= will_paginate @followings %>
        </div>
      </table>
    </div>
  </div>
</div>